@import "../partials/variables";

.button {
    font-family: "Poppins-Bold";
    padding: 1.5em;
    font-size: 0.9rem;
    width: 180px;
    color: $font-color;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        box-shadow: $box-shadow;
        border-radius: 15px;
    }
}
