.tooltip {
    position: absolute;
    top: 0;
    left: -110px;
    width: 100px;
    height: 30px;
    background: $black;
    font-size: 0.8rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    box-shadow: $box-shadow;
    visibility: hidden;
}
