@media only screen and (max-width: 1320px) {
    .about {
        #flag {
            top: initial;
            left: 0;
            right: 0;
            bottom: -20px;
            height: 40px;
            width: 200%;
            flex-direction: column;

            > div {
                width: 100%;
                height: calc(100% / 3);
            }
        }

        &__wrapper {
            margin: 0 auto;
        }

        &__serbia {
            display: none;
        }
    }
}

@media only screen and (max-width: 430px) {
    .about {
        #flag {
            bottom: -40px;
        }

        &__wrapper {
            padding: 2em;
            grid-template: 50px auto 320px / 1fr;
        }

        &__footer {
            .about__footer--content {
                flex-direction: column;

                .about__footer--item {
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}
