@media only screen and (max-width: 1110px) {
    .about {
        &__wrapper {
            background: rgba(0, 0, 0, 0.8);
        }
    }
}

@media only screen and (max-width: 430px) {
    .about {
        &__wrapper {
            padding: 2em;
            grid-template: 50px auto 320px / 1fr;
        }

        &__footer {
            .about__footer--content {
                flex-direction: column;

                .about__footer--item {
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}
