@media only screen and (max-width: 1320px) {
    .about {
        &__wrapper {
            margin: 0 auto;

            #flag {
                top: initial;
                right: 0;
                bottom: -20px;
                height: 40px;
                width: 100%;
                border-radius: 5px;
                flex-direction: column;

                > div {
                    width: 100%;
                    height: calc(100% / 3);
                }

                &__red {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }

                &__white {
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }

        &__serbia {
            display: none;
        }
    }
}

@media only screen and (max-width: 430px) {
    .about {
        &__wrapper {
            padding: 2em;
            grid-template: 50px auto 320px / 1fr;

            #flag {
                bottom: -40px;
            }
        }

        &__footer {
            .about__footer--content {
                flex-direction: column;

                .about__footer--item {
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}
