@media only screen and (max-width: 1080px) {
    .coffee-detail {
        &__main {
            img {
                transform: translate(-50%, -50%) scale(0.9);
            }

            .coffee-detail__item {
                h5 {
                    font-size: 1.5rem;
                }

                &--left,
                &--top-left,
                &--middle-left {
                    padding-right: 130px;
                    max-height: 180px;
                    height: 100%;
                }

                &--right,
                &--top-right,
                &--middle-right {
                    padding-left: 130px;
                    max-height: 180px;
                    height: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 940px) {
    .coffee-detail {
        &__main {
            padding: 1em 0;
            grid-template: repeat(3, auto) 280px repeat(3, auto) / 1fr;

            img {
                position: relative;
                transform: translate(-50%, -50%) scale(0.7);
                grid-column: 1 / 2;
                grid-row: 4 / 5;
                width: 100%;
                max-width: 400px;
            }

            .coffee-detail__item {
                padding: 1.5em;

                &--left,
                &--top-left,
                &--middle-left {
                    padding-right: 130px;
                    max-height: 180px;
                    height: 100%;
                    border: none;
                    border-bottom: 3px dashed $font-color;
                }

                &--right,
                &--top-right,
                &--middle-right {
                    padding-left: 130px;
                    max-height: 180px;
                    height: 100%;
                    border: none;
                    border-bottom: 3px dashed $font-color;
                }

                &--middle-right {
                    border-top: 3px dashed $font-color;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .coffee-detail {
        padding-right: 0;

        &__main {
            .coffee-detail__item {
                &--left,
                &--top-left,
                &--middle-left,
                &--right,
                &--top-right,
                &--middle-right {
                    padding: 2em 1em;
                    max-height: none;
                    text-align: left;
                }
            }
        }
    }
}

@media only screen and (max-width: 465px) {
    .coffee-detail {
        &__main {
            grid-template: repeat(3, auto) 200px repeat(3, auto) / 1fr;

            img {
                max-width: 100%;
                width: 290px;
                height: 290px;
                padding: 1em;
            }
        }
    }
}
