@media only screen and (max-width: 800px) {
    .contact {
        &__form {
            width: 90%;
            margin: 4em auto;
            padding: 2em;

            #coffee {
                width: 70px;
                right: 0;
                top: -25px;
            }

            &--info {
                flex-direction: column;

                .contact__form--input {
                    width: 100%;
                    margin: 1em 0;

                    #contact-name {
                        margin-right: 0;
                    }
                }
            }

            &--submit {
                > div {
                    width: 100%;

                    button {
                        margin-right: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}
