@media only screen and (max-width: 1200px) {
    .footer {
        &__main {
            row-gap: 20px;
            grid-template: 400px 450px / 60% 40%;

            &--map {
                grid-row: 2 / 3;
                grid-column: 1 / span 2;

                #map {
                    top: 0px;
                    left: 0px;

                    &__overlay {
                        left: -20px;
                        top: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .footer {
        padding: 2em;

        #coffee__leafs {
            top: -200px;
            left: -150px;
            transform: scale(0.5) rotate(90deg);
        }

        &__main {
            padding: 0;
            grid-template: repeat(3, 380px) / 100%;

            &--contact-info {
                grid-row: 3 / 4;
            }

            &--map {
                grid-row: 2 / 3;
                grid-column: 1;

                #map {
                    height: 100%;

                    &__overlay {
                        height: 100%;
                    }
                }
            }

            &--info {
                .footer__main--hours {
                    padding: 1em;
                    border: none;
                    border-top: 1px dashed $font-color;
                    border-bottom: 1px dashed $font-color;
                }
            }
        }
    }
}
