@import "./variables";

@font-face {
    font-family: "Poppins-Bold";
    src: URL("../assets/fonts/Poppins-SemiBold.woff2") format("woff2"),
        URL("../assets/fonts/Poppins-SemiBold.woff") format("woff"),
        URL("../assets/fonts/Poppins-SemiBold.ttf") format("ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: URL("../assets/fonts/Poppins-Regular.woff2") format("woff2"),
        URL("../assets/fonts/Poppins-Regular.woff") format("woff"),
        URL("../assets/fonts/Poppins-Regular.ttf") format("ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 16px;
}

body {
    font-family: "Poppins-Bold";
}

img[data-src] {
    visibility: hidden;
}

.form__error {
    color: $unavailable;
}

@media only screen and (max-width: 600px) {
    html,
    body {
        font-size: 14px;
    }

    #nav {
        display: none;
    }

    #menu-title {
        width: 120px;
        height: 95px;
        background: rgba(0, 0, 0, 0.3);
        clip-path: circle(47.7% at 98% 0%);
        display: inline-block;
        top: 0;
        right: 0;

        span {
            position: absolute;
            top: 0;
            right: -7px;

            i {
                display: none;
            }
        }
    }
}
