.about {
    position: relative;
    min-height: 700px;
    box-shadow: $box-shadow;
    margin: 0 auto;
    color: $font-color;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top right;
    }

    &__wrapper {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        min-height: inherit;
        padding: 3em;
        max-width: 750px;
        box-shadow: $box-shadow;
        display: grid;
        grid-template: 50px auto 230px / 1fr;
        background: rgba(0, 0, 0, 0.5);

        h2 {
            font-size: 1.9rem;
            font-weight: bold;
        }

        p {
            text-align: justify;
            padding: 1em 0;

            &.about__description {
                border-bottom: 3px dashed $main;
                font-family: "Poppins-Regular";
            }
        }
    }

    &__footer {
        height: 100%;
        gap: 2em;
        margin-top: 1em;

        h3 {
            text-align: center;
            margin-bottom: 1em;
        }

        .about__footer--content {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 1em;

            .about__footer--item {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                img {
                    border-radius: 50%;
                    border: 5px solid $main;
                    width: 150px;
                    margin: 0 auto;
                }
            }
        }
    }
}
