.coffee-detail {
    height: 100vh;
    min-height: 700px;
    background: url("../assets/img/coffee_pattern.png"), $main;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 60px;
    user-select: none;
    box-shadow: $box-shadow;

    &__main {
        width: 90%;
        max-width: 1000px;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        position: relative;
        color: $font-color;
        padding: 4em 0;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .coffee-detail__item {
            align-self: center;
            border-bottom: 3px dashed $font-color;
            padding: 2em;

            h5 {
                font-size: 1.8rem;
                color: $black;
            }

            span {
                font-family: "Poppins-Regular";
            }

            &--left {
                text-align: left;
                border-right: 3px dashed $font-color;
            }

            &--right {
                text-align: right;
            }

            &--top-left {
                border-top: 3px dashed $font-color;
                padding-right: 80px;
            }

            &--top-right {
                border-top: 3px dashed $font-color;
                padding-left: 70px;
            }

            &--middle-left {
                padding-right: 100px;
            }

            &--middle-right {
                padding-left: 120px;
            }
        }
    }
}
