.footer {
    background: $main;
    color: $font-color;
    padding: 0 4em;
    font-family: "Poppins-Regular";
    font-size: 0.85rem;
    position: relative;
    z-index: 5;

    #coffee__leafs {
        position: absolute;
        top: -150px;
        left: -110px;
        transform: rotate(90deg);
    }

    &__main {
        display: grid;
        grid-template: 1fr / 350px 250px auto;
        column-gap: 20px;
        padding: 3em 6em;
        line-height: 1.6;
        position: relative;

        &--contact-info {
            align-self: center;
            text-align: justify;

            .footer__main--contact {
                margin: 3em 0;

                .footer__main--number {
                    font-size: 1.4rem;
                }
            }
        }

        &--info {
            align-self: center;

            .footer__main--hours {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-left: 1px dashed $font-color;
                border-right: 1px dashed $font-color;

                .footer__main--hour {
                    margin-bottom: 2em;
                    text-align: center;

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .time {
                        padding: 0 0 13px 5px;
                    }

                    .dash {
                        margin: 0 10px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &--map {
            position: relative;

            #map {
                width: 100%;
                height: 420px;
                background: $font-color;
                box-shadow: $box-shadow;
                position: absolute;
                top: -70px;
                left: 50px;

                &__overlay {
                    position: absolute;
                    width: 100%;
                    height: 420px;
                    left: 40px;
                    top: -60px;
                    background: rgba(0, 0, 0, 0.5);
                    z-index: -1;
                }
            }
        }
    }
}
