.introduction {
    position: relative;
    text-shadow: $text-shadow;
    box-shadow: $box-shadow;
    height: 100vh;
    min-height: 750px;

    #introduction__image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        object-fit: cover;
    }

    .intro {
        width: 85%;
        height: 100%;
        padding: 3em 0;
        margin: 0 auto;
        color: $font-color;
        display: grid;
        grid-template: 120px 1fr 60px / 1fr;

        .header {
            display: grid;
            grid-template: 1fr / auto 150px;
            align-items: center;
            border-radius: 3em;
            padding: 1.5em;

            &__info {
                &--address {
                    font-size: 0.85rem;

                    span {
                        margin-left: 5px;
                    }
                }

                &--logo {
                    margin-top: 15px;
                    font-family: "Poppins-Bold";

                    img {
                        width: 100%;
                        height: 32px;
                        max-width: 250px;
                    }
                }
            }

            &__language {
                font-size: 1.5rem;
                text-align: right;
                position: relative;
                user-select: none;
                text-shadow: none;
                justify-self: end;

                #language {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;
                    cursor: pointer;

                    svg {
                        margin-left: 10px;
                    }
                }

                &--expanded {
                    position: absolute;
                    top: 50px;
                    right: 0;
                    width: 190px;
                    background: $font-color;
                    box-shadow: $box-shadow;
                    border-radius: 15px;
                    color: $black;
                    padding: 1em;
                    font-size: 0.85rem;
                    display: none;

                    .language__selection {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: calc(100% / 3);
                        cursor: pointer;
                        padding: 0.5em;

                        &:hover {
                            color: $font-color;
                            background: $main;
                            transition: all 0.5s;
                        }

                        &.active {
                            background: $main;
                            color: $font-color;
                            box-shadow: $box-shadow;
                        }
                    }
                }
            }

            &__dialect {
                display: flex;
                justify-content: space-between;
                padding-top: 15px;

                .language__dialect {
                    cursor: pointer;
                }

                .active {
                    color: $main;
                }
            }
        }

        &__content {
            align-self: center;

            &--header {
                font-size: 4rem;
                line-height: 1em;

                p:first-child {
                    color: $main;
                }
            }

            &--sub-header {
                max-width: 620px;
                margin: 1em 0 3em 0;
                text-align: justify;
            }

            &--control {
                #read__more {
                    background: $main;
                    @extend .button;
                }

                #contact__us {
                    background: $black;
                    margin-left: 1em;
                    @extend .button;
                }
            }
        }

        &__footer {
            display: grid;
            grid-template: 70px / repeat(3, 200px) auto;
            font-size: 0.8rem;
            align-content: end;

            div {
                text-align: center;
                border-left: 1px solid $font-color;

                &:last-child {
                    font-size: 1.3rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 1em;
                    background: rgba(0, 0, 0, 0.2);

                    a {
                        color: $font-color;
                        display: inline-block;
                        position: relative;
                        margin: 0 0.6em;

                        &:hover {
                            .tooltip {
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
}
