.nav {
    position: fixed;
    top: 50px;
    right: 30px;
    height: calc(100% - 100px);
    width: 5px;
    background: $font-color;
    border: 1px solid rgba(0, 0, 0, 0.8);
    z-index: 1000;
    cursor: pointer;

    &:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        height: calc(100% + 10px);
        width: 25px;
        background: rgba(0, 0, 0, 0.6);
        z-index: -1;
        border-radius: 15px;
    }

    #slider__beans {
        position: absolute;
        left: -15px;
        top: calc(0% + -7px);
        z-index: 5;
        transition: top 1s;
    }

    span {
        position: absolute;
        top: -35px;
        left: -20px;
        color: $font-color;
        cursor: pointer;

        .sidenav__close {
            position: absolute;
            top: -5px;
            left: 10px;
            font-size: 30px;
        }

        .sidenav__title {
            position: absolute;
            top: -5px;
            left: -120px;
            z-index: 1000;
            height: 0;
            opacity: 0;
            overflow: hidden;
            text-transform: uppercase;

            &--active {
                transition: opacity 2s;
                overflow: none;
                height: auto;
                opacity: 1;
            }

            &:hover {
                color: $main;
            }
        }
    }

    @for $i from 0 through 4 {
        span[data-tab="#{$i + 1}"] {
            position: absolute;
            top: $i * 33.3%;
            background: $font-color;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            left: 50%;
            transform: translateX(-50%);
            border: 5px solid $black;
            cursor: pointer;
            text-shadow: $text-shadow;

            &:hover {
                background: $main;
            }
        }
    }
}
